In [6]:
import sys
import json
import csv
import yaml

import importlib

import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import os
from dotenv import load_dotenv

from datetime import time
from datetime import date
from datetime import datetime
# with the above choices, the imported datetime.time(2023,07,01) is recognized
# from datetime import date
# from datetime import datetime

import pprint

import psycopg2
from sqlalchemy import create_engine, text as sql_text

# Create an utilities file util.py in a folder benchmarking and import it
sys.path.append('/Users/Nfaith21/ECS 116/')
import util_2 as util

<span style=color:blue>Getting mongodb connection set up</span>

In [7]:
from pymongo import MongoClient

client = MongoClient()
# could have written client = MongoClient("localhost", 27017)
#                 or client = MongoClient("mongodb://localhost:27017/")

<span style=color:blue>Getting access to airbnb database

In [8]:
# I have (or will have) a database "airbnb"
db = client.airbnb


print('The list of all databases currently in the MongoDB client is:')
print(client.list_database_names())

print('\nThe list of all collections in the airbnb database is:')
print(db.list_collection_names())
# Note: calendar may not show up yet; it is created only when a first document is inserted into it

The list of all databases currently in the MongoDB client is:
['admin', 'airbnb', 'company', 'config', 'local', 'test']

The list of all collections in the airbnb database is:
['newlistings', 'listings', 'listings_with_reviews_m', 'listings_with_reviews_and_cal', 'calendar', 'listings_with_calendar', 'reviews']

### Datatypes Conversion and Clean up

In [9]:
f = '/Users/Nfaith21/Library/CloudStorage/GoogleDrive-nishafaith21@gmail.com/My Drive/UC Davis/Spring Quarter 2024/ECS 116/listings_202406060150.csv'
f2 = '/Users/Nfaith21/ECS 116/reviews.csv'

dtype = {"id":str, "host_id":str}
dtype2 = {"date": str, "listing_id":str, "id":str, "reviewer_id":str}

df = pd.read_csv(f, dtype=dtype, keep_default_na=False)
df2 = pd.read_csv(f2, dtype=dtype2, keep_default_na=False)

df['reviews_per_month'] = pd.to_numeric(df['reviews_per_month'], errors='coerce')

In [31]:
print('The datatypes for the fields of df are:')
print(df.dtypes)

print('\nThe first few rows of df are:')
print(df.head())

print('The datatypes for the fields of df are:')
print(df2.dtypes)

print('\nThe first few rows of df are:')
print(df2.head())

The datatypes for the fields of df are:
id                                 object
name                               object
host_id                            object
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                              object
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

The first few rows of df are:
                   id                                               name  \
0  977395984065981849      Home in Brooklyn · 1 bedroom · 1 bed · 1 bath
1  729947657876634696  Rental unit in The Bronx · 1 bedroom · 1 bed ·...
2  648033676238017128  Rental unit in Bronx · ★4.89 · 1 bedroom · 1 b...
3  623137142536549768  Rental unit in Brooklyn · 1 bedroom · 1 bed · ...
4  871990853610302281  Rental unit in Queens · ★New · 1 bedroom · Hal...

     host_id        host_name neighbourhood_group   neighbourhood   latitude  \
0   95344065            Derek            Brooklyn  Sheepshead Bay  40.591790
1     566660           Markus               Bronx        Longwood  40.827374
2  421601513  J Carlos Retals               Bronx     Kingsbridge  40.863940
3  106442885              Ava            Brooklyn   East New York  40.660730
4  484563208           Tricia              Queens    Howard Beach  40.663586

   longitude        room_type price  minimum_nights  number_of_reviews  \
0 -73.942850     Private room    30              31                  1
1 -73.903145     Private room    29              30                  2
2 -73.903120     Private room    30              30                 18
3 -73.890500  Entire home/apt    76              30                  1
4 -73.834530     Private room    85              30                  0

  last_review  reviews_per_month  calculated_host_listings_count  \
0      1/3/24               0.86                               7
1    12/31/23               0.14                               2
2    12/26/23               0.95                               3
3     5/19/22               0.05                               1
4                            NaN                               2

   availability_365  number_of_reviews_ltm license
0               339                      1
1                34                      1
2               359                      6
3               364                      0
4                89                      0
The datatypes for the fields of df are:
listing_id       object
id               object
date             object
reviewer_id      object
reviewer_name    object
comments         object
dtype: object

The first few rows of df are:
  listing_id     id        date reviewer_id reviewer_name  \
0       2595  17857  2009-11-21       50679          Jean
1       2595  19176  2009-12-05       53267          Cate
2       2595  19760  2009-12-10       38960         Anita
3       2595  34320  2010-04-09       71130       Kai-Uwe
4       2595  46312  2010-05-25      117113        Alicia

                                            comments
0  Notre séjour de trois nuits.\r<br/>Nous avons ...
1                                  Great experience.
2  I've stayed with my friend at the Midtown Cast...
3  We've been staying here for about 9 nights, en...
4  We had a wonderful stay at Jennifer's charming...

### Convert to Datetime and Remove NaTs

In [32]:
# also converts NaT to None, because MongoDB does not recognize NaT
def convert_date_str_to_datetime(dt):
    if dt is None:
        return None
    elif pd.isnull(dt):  # tests whether dt is the pandas value NaT ("not a time")
        # print('\nEntered the NaT case\n')
        return None
    elif dt != dt:
        return None        # could also use math.nan, I think
    elif dt == '':
        return None
    else:
        year = int(dt[0:4])
        month = int(dt[5:7])
        day = int(dt[8:10])
        # print(year, month, day)
        temp = datetime(year, month, day)
        ts = temp.timestamp()
        new_dt = datetime.fromtimestamp(ts)
        return new_dt


print(convert_date_str_to_datetime('2024-05-23'))

2024-05-23 00:00:00

In [33]:
df2['date'] = df2['date'].apply(convert_date_str_to_datetime)

print(df2.head())

  listing_id     id       date reviewer_id reviewer_name  \
0       2595  17857 2009-11-21       50679          Jean
1       2595  19176 2009-12-05       53267          Cate
2       2595  19760 2009-12-10       38960         Anita
3       2595  34320 2010-04-09       71130       Kai-Uwe
4       2595  46312 2010-05-25      117113        Alicia

                                            comments
0  Notre séjour de trois nuits.\r<br/>Nous avons ...
1                                  Great experience.
2  I've stayed with my friend at the Midtown Cast...
3  We've been staying here for about 9 nights, en...
4  We had a wonderful stay at Jennifer's charming...

In [34]:
# need to strip the leading '$' from the price value, and remove commas
df['price'] = df['price'].apply(lambda x:x.replace('$','').replace(',',''))

# converting price which is string to numeric
df['price'] = pd.to_numeric(df['price']) 

print(type(df.loc[0,'price']))
print(df.head())

<class 'numpy.float64'>
                   id                                               name  \
0  977395984065981849      Home in Brooklyn · 1 bedroom · 1 bed · 1 bath
1  729947657876634696  Rental unit in The Bronx · 1 bedroom · 1 bed ·...
2  648033676238017128  Rental unit in Bronx · ★4.89 · 1 bedroom · 1 b...
3  623137142536549768  Rental unit in Brooklyn · 1 bedroom · 1 bed · ...
4  871990853610302281  Rental unit in Queens · ★New · 1 bedroom · Hal...

     host_id        host_name neighbourhood_group   neighbourhood   latitude  \
0   95344065            Derek            Brooklyn  Sheepshead Bay  40.591790
1     566660           Markus               Bronx        Longwood  40.827374
2  421601513  J Carlos Retals               Bronx     Kingsbridge  40.863940
3  106442885              Ava            Brooklyn   East New York  40.660730
4  484563208           Tricia              Queens    Howard Beach  40.663586

   longitude        room_type  price  minimum_nights  number_of_reviews  \
0 -73.942850     Private room   30.0              31                  1
1 -73.903145     Private room   29.0              30                  2
2 -73.903120     Private room   30.0              30                 18
3 -73.890500  Entire home/apt   76.0              30                  1
4 -73.834530     Private room   85.0              30                  0

  last_review  reviews_per_month  calculated_host_listings_count  \
0      1/3/24               0.86                               7
1    12/31/23               0.14                               2
2    12/26/23               0.95                               3
3     5/19/22               0.05                               1
4                            NaN                               2

   availability_365  number_of_reviews_ltm license
0               339                      1
1                34                      1
2               359                      6
3               364                      0
4                89                      0

In [35]:
df['last_review'] = pd.to_datetime(df['last_review'])

/var/folders/_w/22f9wx1n3w76yhbndn1d2j240000gn/T/ipykernel_63909/4007626723.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['last_review'] = pd.to_datetime(df['last_review'])

### Load Data into Dictionaries

In [36]:
dict_full = df.to_dict('records')

def convert_date_to_datetime(dt):
    if pd.isnull(dt):           # tests whether dt is None, NaN, or DaT (not a date)
        return None
    elif type(dt) == pd._libs.tslibs.nattype.NaTType:  # including this, but see below
        return None
    else:
        temp = datetime(dt.year, dt.month, dt.day)
        ts = temp.timestamp()
        new_dt = datetime.fromtimestamp(ts)
        return new_dt

for record in dict_full:
    record['last_review'] = convert_date_to_datetime(record['last_review'])

for doc in dict_full:
    if pd.isnull(doc['last_review']): 
        doc['last_review'] = None

In [37]:
pprint.pp(dict_full[0])

{'id': '977395984065981849',
 'name': 'Home in Brooklyn · 1 bedroom · 1 bed · 1 bath',
 'host_id': '95344065',
 'host_name': 'Derek',
 'neighbourhood_group': 'Brooklyn',
 'neighbourhood': 'Sheepshead Bay',
 'latitude': 40.59179,
 'longitude': -73.94285,
 'room_type': 'Private room',
 'price': 30.0,
 'minimum_nights': 31,
 'number_of_reviews': 1,
 'last_review': datetime.datetime(2024, 1, 3, 0, 0),
 'reviews_per_month': 0.86,
 'calculated_host_listings_count': 7,
 'availability_365': 339,
 'number_of_reviews_ltm': 1,
 'license': ''}

In [38]:
time1 = datetime.now()
dict_full_2 = df2.to_dict('records')
time2 = datetime.now()
print(f'Time to perform this operation was {util.time_diff(time1,time2)} seconds.')

Time to perform this operation was 4.219962 seconds.

### Load Data into MongoDB

In [39]:
# The following empties out listings_with_cal; useful if making a fresh start
db.newlistings.drop()
db.reviews.drop()

print(len(dict_full))
print(len(dict_full_2))

time1 = datetime.now()
result = db.newlistings.insert_many(dict_full)
results2=db.reviews.insert_many(dict_full_2)
time2 = datetime.now()
print(f'\nTime to perform this operation was {util.time_diff(time1,time2)} seconds.')
# between about 2 and 4 minutes

print(f'\nNumber of docs in db.newlistings is {db.newlistings.count_documents({})}')
print(f'\nNumber of docs in db.reviews is {db.reviews.count_documents({})}')


print()
outdocs = []
for o in result.inserted_ids[-5:]:
    outdocs.append(db.newlistings.find_one({ '_id': o}))
pprint.pp(outdocs)

outdocs2 = []
for o in results2.inserted_ids[-5:]:
    outdocs2.append(db.reviews.find_one({ '_id': o}))
pprint.pp(outdocs2)

39202
986810

Time to perform this operation was 9.42273 seconds.

Number of docs in db.newlistings is 39202

Number of docs in db.reviews is 986810

[{'_id': ObjectId('6663d3abc6744f44122705cf'),
  'id': '795691344180160853',
  'name': 'Hotel in New York · ★4.33 · 1 bedroom · 1 bed · 1 private bath',
  'host_id': '484277630',
  'host_name': 'Bugra Han',
  'neighbourhood_group': 'Manhattan',
  'neighbourhood': 'Midtown',
  'latitude': 40.755077,
  'longitude': -73.98106,
  'room_type': 'Private room',
  'price': nan,
  'minimum_nights': 4,
  'number_of_reviews': 5,
  'last_review': datetime.datetime(2023, 12, 18, 0, 0),
  'reviews_per_month': 1.2,
  'calculated_host_listings_count': 33,
  'availability_365': 0,
  'number_of_reviews_ltm': 5,
  'license': 'Exempt'},
 {'_id': ObjectId('6663d3abc6744f44122705d0'),
  'id': '942191196511011206',
  'name': 'Home in Brooklyn · 5 bedrooms · 5 beds · 2 baths',
  'host_id': '517145594',
  'host_name': 'Ben',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'East Flatbush',
  'latitude': 40.65951,
  'longitude': -73.93827,
  'room_type': 'Entire home/apt',
  'price': 200.0,
  'minimum_nights': 30,
  'number_of_reviews': 2,
  'last_review': datetime.datetime(2023, 11, 18, 0, 0),
  'reviews_per_month': 0.32,
  'calculated_host_listings_count': 5,
  'availability_365': 270,
  'number_of_reviews_ltm': 2,
  'license': ''},
 {'_id': ObjectId('6663d3abc6744f44122705d1'),
  'id': '563728723224510265',
  'name': 'Rental unit in Queens · ★4.76 · Studio · 1 bed · 1 bath',
  'host_id': '219517861',
  'host_name': 'Sonder (NYC)',
  'neighbourhood_group': 'Queens',
  'neighbourhood': 'Long Island City',
  'latitude': 40.74482,
  'longitude': -73.94326,
  'room_type': 'Entire home/apt',
  'price': 218.0,
  'minimum_nights': 2,
  'number_of_reviews': 214,
  'last_review': datetime.datetime(2024, 1, 7, 0, 0),
  'reviews_per_month': 8.99,
  'calculated_host_listings_count': 84,
  'availability_365': 0,
  'number_of_reviews_ltm': 102,
  'license': 'Exempt'},
 {'_id': ObjectId('6663d3abc6744f44122705d2'),
  'id': '19602390',
  'name': 'Rental unit in Brooklyn · ★4.78 · 1 bedroom · 1 bed · 1 bath',
  'host_id': '137817563',
  'host_name': 'Amarelle',
  'neighbourhood_group': 'Brooklyn',
  'neighbourhood': 'Bedford-Stuyvesant',
  'latitude': 40.68232,
  'longitude': -73.93023,
  'room_type': 'Entire home/apt',
  'price': 106.0,
  'minimum_nights': 30,
  'number_of_reviews': 140,
  'last_review': datetime.datetime(2023, 11, 7, 0, 0),
  'reviews_per_month': 1.75,
  'calculated_host_listings_count': 1,
  'availability_365': 249,
  'number_of_reviews_ltm': 15,
  'license': ''},
 {'_id': ObjectId('6663d3abc6744f44122705d3'),
  'id': '756650222823891886',
  'name': 'Rental unit in Staten Island · ★4.89 · 3 bedrooms · 4 beds · 2 '
          'baths',
  'host_id': '121399223',
  'host_name': 'Weifeng',
  'neighbourhood_group': 'Staten Island',
  'neighbourhood': 'St. George',
  'latitude': 40.64367,
  'longitude': -74.08182,
  'room_type': 'Entire home/apt',
  'price': 189.0,
  'minimum_nights': 30,
  'number_of_reviews': 44,
  'last_review': datetime.datetime(2024, 1, 12, 0, 0),
  'reviews_per_month': 2.95,
  'calculated_host_listings_count': 6,
  'availability_365': 0,
  'number_of_reviews_ltm': 38,
  'license': ''}]
[{'_id': ObjectId('6663d3aec6744f4412361489'),
  'listing_id': '1066905373347759013',
  'id': '1076164094756359504',
  'date': datetime.datetime(2024, 1, 24, 0, 0),
  'reviewer_id': '84336263',
  'reviewer_name': 'T',
  'comments': 'We had a good stay. Place was clean and in a good, central '
              'location. It was a good value for the price and worked well for '
              'our group of 4 adults.'},
 {'_id': ObjectId('6663d3aec6744f441236148a'),
  'listing_id': '1066905373347759013',
  'id': '1079811744368032164',
  'date': datetime.datetime(2024, 1, 29, 0, 0),
  'reviewer_id': '280434951',
  'reviewer_name': 'Saufia',
  'comments': 'I recently had the pleasure of staying at this property and we '
              'had an amazing experience. The property has been recently '
              "refurbished and cleanliness was remarkable. It's perfect for a "
              "big group or family, as there's ample space for everyone to "
              'enjoy their stay comfortably. <br/>It has all the essential '
              'items you could possibly need, making it feel like a home away '
              'from home. The location is ideal, being close to the metro '
              'which made it incredibly convenient for us to explore the city. '
              'We also enjoyed the easy access to local sightseeing spots and '
              'shopping areas.<br/>A special mention to the property manager, '
              'who was exceptionally responsive. Any queries were answered '
              'swiftly, and they were always happy to help, adding an extra '
              'layer of comfort to our stay. <br/>Overall, I highly recommend '
              'this property for anyone looking for a hassle-free, '
              'comfortable, and enjoyable stay in a great location.'},
 {'_id': ObjectId('6663d3aec6744f441236148b'),
  'listing_id': '1070657277463593193',
  'id': '1084815512594078305',
  'date': datetime.datetime(2024, 2, 5, 0, 0),
  'reviewer_id': '340888377',
  'reviewer_name': 'Argelis',
  'comments': 'Good Communication and attention... Thanks so Much!'},
 {'_id': ObjectId('6663d3aec6744f441236148c'),
  'listing_id': '1070928457910719744',
  'id': '1076904485515107241',
  'date': datetime.datetime(2024, 1, 25, 0, 0),
  'reviewer_id': '9511025',
  'reviewer_name': 'Steven',
  'comments': 'This guesthouse is absolutely adorable! It’s located on '
              'quintessential Harlem Street. The walk to the train is less '
              'than than 10 minutes.  Central Park is about a 15 minute walk.  '
              'My host was welcoming and helpful but not intrusive at all.  '
              'The guest house has beautiful artwork. The picture definitely '
              'don’t do it justice. I feel like I lived a New York dream '
              'during my time there! I will definitely be back'},
 {'_id': ObjectId('6663d3aec6744f441236148d'),
  'listing_id': '1070928457910719744',
  'id': '1079039094814815797',
  'date': datetime.datetime(2024, 1, 28, 0, 0),
  'reviewer_id': '557959854',
  'reviewer_name': 'Ajuong',
  'comments': 'I really had a pleasant stay! The place is clean and quiet. The '
              'host is polite and responsive. It is a great place.'}]

### Create Index

In [40]:
db.reviews.create_index('listing_id')

'listing_id_1'

### Creating listings_with_reviews_m Collection

In [41]:
db.listings_with_reviews_m.drop()

pipeline = [
    {"$lookup":
       {
         "from": "reviews",
         "localField": "id",
         "foreignField": "listing_id",
         "as": "reviews"
       }}, 
    
    { "$out": "listings_with_reviews_m" }
    
]

time1 = datetime.now()
test1 = db.newlistings.aggregate(pipeline)
time2 = datetime.now()
diff = util.time_diff(time1, time2)

print('\nTime it took was:', format(diff, '.4f'), '.')

print(db.list_collection_names())

print("test1:")

# print(len(list(test1)))

print(type(test1))

Time it took was: 4.7962 .
['newlistings', 'listings', 'listings_with_reviews_m', 'listings_with_reviews_and_cal', 'calendar', 'listings_with_calendar', 'reviews']
test1:
<class 'pymongo.command_cursor.CommandCursor'>

In [50]:
count = db.listings_with_reviews_m.count_documents({})
print(count)

39202

In [51]:
doc = db.listings_with_reviews_m.find_one()
pprint.pp(doc)

{'_id': ObjectId('6663d3abc6744f4412266cb2'),
 'id': '977395984065981849',
 'name': 'Home in Brooklyn · 1 bedroom · 1 bed · 1 bath',
 'host_id': '95344065',
 'host_name': 'Derek',
 'neighbourhood_group': 'Brooklyn',
 'neighbourhood': 'Sheepshead Bay',
 'latitude': 40.59179,
 'longitude': -73.94285,
 'room_type': 'Private room',
 'price': 30.0,
 'minimum_nights': 31,
 'number_of_reviews': 1,
 'last_review': datetime.datetime(2024, 1, 3, 0, 0),
 'reviews_per_month': 0.86,
 'calculated_host_listings_count': 7,
 'availability_365': 339,
 'number_of_reviews_ltm': 1,
 'license': '',
 'reviews': [{'_id': ObjectId('6663d3aec6744f44123602e2'),
              'listing_id': '977395984065981849',
              'id': '1060927930986644037',
              'date': datetime.datetime(2024, 1, 3, 0, 0),
              'reviewer_id': '56179331',
              'reviewer_name': 'Sean',
              'comments': 'I fear it’s kind of a “you get what you pay for” '
                          'situation. The place is very dirty, especially the '
                          'common rooms where the cupboards are caked and '
                          'grease and stickiness. To the point that even '
                          'opening a drawer or grabbing a handle requires '
                          'washing your hands after. The bathroom has moldy '
                          'rugs and had cockroaches. There’s occasionally a '
                          'smell. The internet is very hit or miss and the '
                          'temperature fluxuates a lot in the '
                          'apartment.<br/>To their credit though, the bedrooms '
                          'are clean enough and pretty comfortable. The floors '
                          'a bit dusty but I kinda just dusted that up. The '
                          'neighborhood itself is nice if you’re looking for '
                          'something that feels quieter than the rest of the '
                          'city. I enjoyed having plenty of stores, '
                          'restaurants, and even a movie theater in walking '
                          'distance while still being on a quiet residential '
                          'street. That said, for commuting it does take about '
                          'an hour to get to Manhattan.<br/>Like I said, it is '
                          'extremelly cheap but that means it’s not '
                          'well-maintained; so you get what you pay for.'}]}

### JSON File Loading

In [52]:
def convert_lwc_to_json(doc):
    doc_new = {}
    doc_new['_id'] = str(doc['_id'])
    for key in ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews']:
        doc_new[key] = doc[key] if not pd.isna(doc[key]) else None
    doc_new['last_review'] = doc['last_review'].strftime('%Y-%m-%d') if not pd.isna(doc['last_review']) else None
    for key in ['reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license']:
        doc_new[key] = doc[key] if not pd.isna(doc[key]) else None
    dlist = []
    for d in doc['reviews']:
        d_new = {}
        d_new['_id'] = str(d['_id'])
        d_new['date'] = d['date'].strftime('%Y-%m-%d') if not pd.isna(d['date']) else None
        for key in ['listing_id', 'id', 'reviewer_id', 'reviewer_name', 'comments']:
            d_new[key] = d[key] if not pd.isna(d[key]) else None
        dlist.append(d_new)
    doc_new['reviews'] = dlist
    return doc_new

pprint.pp(convert_lwc_to_json(doc))

{'_id': '6663d3abc6744f4412266cb2',
 'id': '977395984065981849',
 'name': 'Home in Brooklyn · 1 bedroom · 1 bed · 1 bath',
 'host_id': '95344065',
 'host_name': 'Derek',
 'neighbourhood_group': 'Brooklyn',
 'neighbourhood': 'Sheepshead Bay',
 'latitude': 40.59179,
 'longitude': -73.94285,
 'room_type': 'Private room',
 'price': 30.0,
 'minimum_nights': 31,
 'number_of_reviews': 1,
 'last_review': '2024-01-03',
 'reviews_per_month': 0.86,
 'calculated_host_listings_count': 7,
 'availability_365': 339,
 'number_of_reviews_ltm': 1,
 'license': '',
 'reviews': [{'_id': '6663d3aec6744f44123602e2',
              'date': '2024-01-03',
              'listing_id': '977395984065981849',
              'id': '1060927930986644037',
              'reviewer_id': '56179331',
              'reviewer_name': 'Sean',
              'comments': 'I fear it’s kind of a “you get what you pay for” '
                          'situation. The place is very dirty, especially the '
                          'common rooms where the cupboards are caked and '
                          'grease and stickiness. To the point that even '
                          'opening a drawer or grabbing a handle requires '
                          'washing your hands after. The bathroom has moldy '
                          'rugs and had cockroaches. There’s occasionally a '
                          'smell. The internet is very hit or miss and the '
                          'temperature fluxuates a lot in the '
                          'apartment.<br/>To their credit though, the bedrooms '
                          'are clean enough and pretty comfortable. The floors '
                          'a bit dusty but I kinda just dusted that up. The '
                          'neighborhood itself is nice if you’re looking for '
                          'something that feels quieter than the rest of the '
                          'city. I enjoyed having plenty of stores, '
                          'restaurants, and even a movie theater in walking '
                          'distance while still being on a quiet residential '
                          'street. That said, for commuting it does take about '
                          'an hour to get to Manhattan.<br/>Like I said, it is '
                          'extremelly cheap but that means it’s not '
                          'well-maintained; so you get what you pay for.'}]}

In [53]:
print(db.listings_with_reviews_m.count_documents({}))

cursor = db.listings_with_reviews_m.find({'id' : {'$regex' : '^1000.*$'}})
    
l = list(cursor)
print(len(l))

39202
43

In [54]:
output = []

for doc in l:
    output.append(convert_lwc_to_json(doc))

print(len(output))

43

In [55]:
# Writing dict to a json file into a json file in a subdirectory
# Also putting this function into my util.py
def write_dict_to_dir_json(dict, dir, filename):
    with open(dir + '/' + filename, 'w') as fp:
        json.dump(dict, fp)

dir = '/Users/Nfaith21/ECS 116'
filename = 'listings_with_reviews_m_subset_1000.json'
write_dict_to_dir_json(output, dir, filename)